<a href="https://colab.research.google.com/github/shawnmuhr/BIOL_398/blob/main/HW/biol300_hw8_group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Problem 1: Dance of the p_values (20 points)

For this, we will return to frogs 2 and 3, the two frogs for which we were unable to reject the null hypothesis for having the same mean with a permutation test.

In [ ]:
frog2 = np.array([1612,  605,  327,  946,  541, 1539,  529,  628, 1453,  297,  703,
        269,  751,  245, 1182,  515,  435,  383,  457,  730])
frog3 = np.array([614, 414, 324, 776, 611, 544, 538, 579, 806, 459, 458, 626, 621,
       544, 535, 385, 401, 614, 665, 488])

A. Repeat your permutation test 100 times. Record the p-value you get each time.

B. Plot an ECDF of the p-values from the repeated permutation tests. How much do the p-values vary by? Would your decision to reject the null hypothesis or not change from repeating the permutation test?

While the p-values may not have varied that much in the previous part, a more interesting and more applicable question would be how much the p-value would change if we were to *repeat the experiment itself*. For this, we can simulate getting the data from frogs 2 and 3 again, by sampling from our data with replacement. As a reminder, this is how you can sample with replacement: `np.random.choice(frog2, size=20, replace=True)`.

C. For 100 trials, sample the two frogs with replacement to generate data as if we had repeated the experiment. With this newly sampled data, conduct a permutation test and save the p-value.

D. Plot an ECDF of these p-values that resulted from resampling the data for each permutation test. How much to the p-values vary by now?

E. Explain how this exercise serves as a cautionary tale regarding the reliance on p-values in experimental work.

# Problem 2: Darwin's finches (20 points)

The following data come from Peter and Rosemary Grant of Princeton University, who have visited the island of Daphne Major on the Gal√°pagos every year for over forty years and have been taking a careful inventory of the finches there. The Grants recently published a wonderful book, [40 years of evolution: Darwin's finches on Daphne Major Island](https://press.princeton.edu/books/hardcover/9780691160467/40-years-of-evolution). They were generous and made their data publicly available on [the Dryad data repository](https://datadryad.org/stash/dataset/doi:10.5061/dryad.g6g3h). (In general, it is a very good idea to put your published data in public data repositories, both to preserve the data and also to make your findings public.) We will be using this data set to learn about evolution of Darwin's finches and use your "hacker" statistics skills. 

We will focus on the primary two species of ground finch on Daphne Major, *Geospiza fortis* and *Geospiza scandens*. In this data set, you will find measurements of the beak length (tip to base) and beak depth (top to bottom) of these finches in the years 1973, 1975, 1987, 1991, and 2012. Also included in that data set is the band number for the bird, which gives a unique identifier.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = "/content/drive/MyDrive/BIOL300_S22/data/finch_beaks.csv"
df = pd.read_csv(path)
df.head()

    band species  year  beak length (mm)  beak depth (mm)
0  20123  fortis  1973              9.25             8.05
1  20126  fortis  1973             11.35            10.45
2  20128  fortis  1973             10.15             9.55
3  20129  fortis  1973              9.95             8.75
4  20133  fortis  1973             11.55            10.15

A. Plot ECDFs of the beak depths of G*eospiza scandens* in 1975 and in 2012, and comment on what you see.

B. For the *scandens* data in 1975, sample the data 10,000 times with replacement and record the mean with each sample. Sort these samples and find the 2.5th and 97.5th percentiles. The range between these two values is what is known as the 95% confidence interval, meaning that 95% of the sample lie within this range.

C. Now get the *scandens* 95% confidence interval for the year 2012. Comment on the overlap (if any) of the confidence intervals from 1975 and 2012.

D. Perform a hypothesis test comparing the G. scandens beak depths in 1975 and 2012. Carefully state your null hypothesis, your test statistic, and your definition of what it means to be at least as extreme as the test statistic. Comment on the results.

E. It might be interesting to know that a severe drought in 1976 and 1977 resulted in the death of the plants that produce small seeds on the island. Hypothesize what might have happened to the scandens beaks from 1975 to 2012.